.comment-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
  height: 50vh;
  max-height: 50vh;
  overflow: auto;
  border: solid thin #edf6ff;
  border-radius: 15px;
  background-color: #f5faff;
}
