.comment {
  padding: 0.5%;
}

.comment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30vw;
  border: solid thin #f7f7f7;
  /*   border-width: ; */
  border-radius: 15px 50px 15px 50px;
  background-color: #d9ecff;
}

.comment-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 20%;
  heigth: 90px;
  max-heigth: 40em;
}

.comment-user-profile-pic {
  border-radius: 3em;
  max-width: 100%;
  max-height: 50%;
}

.comment-data-container {
  width: 70%;
  height: 70%;
}
