.comment-form {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1%;
  align-items: center;
}

.input-container {
  width: 32vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-around;
  padding-top: 2vh;
}

.comment-content-container {
  width: 25vw;
  height: 8vh;
}

.comment-content-container > input {
  width: 100%;
  height: 50%;
  border-radius: 15px;
}

.comment-button-container {
  width: 8vw;
  height: 50%;
  display: flex;
  alignt-items: center;
  justify-content: center;
}

.comment-button-container > button {
  background-color: #008cba;
  width: 90%;
  border-radius: 15px;
  color: white;
}
