.meme-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f6ff;
}

.meme-form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 80vh;
  background-color: #dbe9ff;
  border: solid thin white;
  border-radius: 15px;
}

.meme-form-description-input-container {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meme-form-description-input-container > input {
  width: 90%;
  height: 50%;
  border-radius: 15px;
}

.meme-form-image-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 10%;
}

.meme-form-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 50%;
  border: thin dashed white;
}

.meme-form-image-container > img {
  height: auto;
  width: auto;
}

.meme-form-send-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 10%;
}
