.meme-buttons-container {
  justify-content: space-evenly;
  flex-direction: row;
  height: 20px;
  width: 100%;
}

.meme-button-container {
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  border-radius: 3%;
  opacity: 0.6;
}

.meme-button-container:hover {
  opacity: 1;
  transition: 0.3s;
}

.meme-button-container:hover > .emoji {
  height: 110%;
}

.meme-button-like {
  border-bottom-left-radius: 15px;
  background-color: #c6ff00;
}

.meme-button-comment {
  background-color: #a7ffeb;
}

.meme-button-share {
  background-color: #039be5;
}

.meme-button-dislike {
  border-bottom-right-radius: 15px;
  background-color: #ff3d00;
}