img {
  width: 70%;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
}

.meme-container {
  justify-content: center;
  flex-direction: column;
  width: 60%;
  padding-top: 3em;
}

.meme-card {
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 95%;
  border: solid thin white;
  border-radius: 1em;
}

.meme-image-container {
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
