body {
  background-color: #f0f6ff;
}
#navbar {
  display: flex;
  flex-direction: row;
  height: 4vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.link-container {
  display: flex;
  flex-direction: center;
  justify-content: center;
  width: 50vw;
  background-color: #b0ceff;
  border: solid thin #cce0ff;
}

a {
  text-decoration: none;
  color: black;
}
