/* Big Button */
.big-button {
  background: var(--purple);
  border: none;
  border-bottom: 0.6rem solid darken(var(--purple), 10%);
  color: white;
  font-weight: bold;
  font-size: var(--l-size);
  margin-bottom: var(--m-size);
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: 0.5;
}

/* Button */
.button {
  background: var(--purple);
  border: none;
  border-bottom: 0.3rem solid darken(var(--purple), 10%);
  color: white;
  font-weight: 500;
  padding: var(--s-size);
}

.button--link {
  text-decoration: none;
  background: none;
  border: none;
  color: var(--off-white);
  padding: 0;
}
