.header {
  background: var(--off-black);
  color: white;
  text-align: center;
  max-width: 60rem;
  margin: 0 auto var(--m-size) auto;
  padding: var(--m-size) 0;
}

.header__title {
  font-size: var(--l-size);
  margin: 0;
}

.header__subtitle {
  color: var(--off-white);
  font-size: var(--m-size);
  font-weight: 500;
  margin: var(--s-size) 0 0 0;
}
