/*  Widget */
.widget {
  background: var(--light-blue);
  width: 100%;
  margin-bottom: var(--m-size);
}

.widget-header {
  background: var(--blue);
  color: var(--off-white);
  padding: var(--m-size);
}

.widget__message {
  border-bottom: 1px solid lighten(var(--light-blue), 10%);
  color: var(--off-white);
  margin: 0;
  padding: var(--m-size);
  text-align: center;
}

.widget-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.widget-form__input {
  width: 96%;
  background: var(--purple);
  color: white;
  border: none;
  padding: var(--s-size);
}

.widget-form__input::placeholder {
  color: var(--off-white);
}
